*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg,#ff6e6e, #f8fa78);
  color: white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header{
  font-size: 1.5rem;
}

header,
form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}


input:focus{
  outline:none;
}

form button {
  color:#ff6e6e;
  background:white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover{
  background: #ff6e6e;
  color: white;
}

.deadline-container {
  position: relative;
  display:flex;
  justify-content:center;
  align-items: center;
  
}

.deadline-list{
  position: absolute;
  right: 0;
  top: 0;
  min-width: 20%;
  padding-right: 3%;
  list-style: none;
}

/* .deadline-complete{
  min-height: 6.5vh;
} */

.deadline{
  margin:0.5rem;
  color: black;
  /* background-color: white; */
  font-size: 1.5rem;
  display: block;
  padding-bottom: 13%;
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
  transition: all 0.5s ease;
}

.deadline-date{
  background-color: white;
}

.deadline-title {
  background-color:#ff6e6e;
  color: white;
}

.keep-right{
  float: right;
}


.complete-btn-deadline{
  background: rgb(92, 226, 92);
  width: 100%;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list{
  min-width: 30%;
  list-style: none;
}

.todo{
  margin:0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li{
  flex: 1;
}
.trash-btn, .complete-btn, .move-day-btn{
  background-color: #ff6e6e;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.move-day-btn{
  background: rgb(81, 234, 240);
}

.complete-btn {
  background: rgb(92, 226, 92);
}

.todo-item{
  padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall{
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select{
  color: #ff6e6e;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select::after{
  content: "\25BC";
  position: absolute;
  background:#ff6e6e;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;

}
.select:hover::after{
  background: white;
  color: #ff6e6e;
}


/* for side nav */
.hamburger-container {
  display:inline-block;
  cursor:pointer;
  padding-top:10px;
  position:absolute;
  z-index: 10;
  padding-left:10px;
}

.bar1, .bar2, .bar3 {
  width:35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
transform: rotate(45deg) translate(-8px, -8px) ;
}

#flyoutMenu {
  width: 15vw;
  height: 100vh;
  background-color:#ff6e6e;
  position: absolute;
  top:0;
  left: 0;
  transform: translate3d(-100vw, 0, 0);
  /* transition: transform 0.6s cubic-bezier(0, .52, 0, 1); */
  transition: all 0.5s ease;
}

#flyoutMenu h2 a {
  color:white;
  margin-left: 15px;
  text-decoration: none;
}

#flyoutMenu h2{
  margin-top: 50px
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  
}

.menu-container {
  position: relative;
}

.subnavbtn {
  font-size: inherit;  
  border: none;
  outline: none;
  color: white;
  padding: 14px;
  background-color: inherit;
  font-family: inherit;
  /* margin: 0; */
  
}

#subnav-content{
  opacity: 0;
  position: absolute;
  text-decoration: none;
  margin-left: 100%;
  background-color: #ff6e6e;
  /* min-width: 150%; */
  transition:all 0.5s ease;
  pointer-events: none;
}

#subnav-content.subnav-content-show{
  opacity: 1;
  pointer-events: all;
}

.deadline-form {
  padding-top: 0.5rem;
  min-height: 10vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
}
.deadline-form li {
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.deadline-date-input{
  width: 34vh;
}

.deadline-input {
  width: 28vh;
}

.slide{
  transform: translateX(4rem);
  opacity: 0;
}

/* .deadline-button{
  max-height: 8vh;
} */



/* side nav end */