.App {

  text-align: center;
  /* text color */ 
  color: #3c3b39;
}


body{
    font-family: 'Roboto';
}

#menu {
    background-color: #d8c3a5;
    position: fixed;
}

#menu-button{
   cursor: pointer;  
}

.bar{
    background-color: #d8c3a5;
}

.bg-main-black {
    background-color: #3c3b39;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* .my-node-enter { */
/*   opacity: 0; */
/*   transform: translateY(1000px); */
/* } */
/* .my-node-enter-active { */
/*   opacity: 1; */
/*   transform: translateY(100%); */
/*   transition: all ease-in-out 500ms; */
/* } */
/* .my-node-exit { */
/*   opacity: 1; */
/* } */
/* .my-node-exit-active { */
/*   opacity: 0; */
/*   transform: translateY(-1000px); */
/*   transition: all ease-in-out 500ms; */
/* } */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
